Source: kde-workspace
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <sune@debian.org>,
           Fathi Boudra <fabo@debian.org>,
           Modestas Vainius <modax@debian.org>,
           George Kiagiadakis <kiagiadakis.george@gmail.com>,
           Eshat Cakar <info@eshat.de>,
           Lisandro Damián Nicanor Pérez Meyer <lisandro@debian.org>,
           Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 2.8.6),
               debhelper (>= 9),
               kde-sc-dev-latest (>= 4:4.11),
               kdelibs5-dev (>= 4:4.11),
               kdepimlibs5-dev (>= 4:4.11),
               libakonadi-dev (>= 1.1.95),
               libboost-dev (>= 1.34),
               libck-connector-dev,
               libdbus-1-dev,
               libdbusmenu-qt-dev (>= 0.6.0),
               libdevstat-dev [kfreebsd-any],
               libdlrestrictions-dev (>= 0.14),
               libfontconfig-dev,
               libgles2-mesa-dev,
               libglib2.0-dev,
               libglu1-mesa-dev,
               libgps-dev (>= 2.90),
               libjpeg-dev,
               libkactivities-dev (>= 4:4.11),
               libnm-util-dev (>= 0.9) [linux-any],
               libpam0g-dev,
               libpci-dev,
               libpng12-dev (<< 1.5),
               libprison-dev,
               libqalculate-dev,
               libqimageblitz-dev (>= 1:0.0.4-2),
               libqjson-dev,
               libqt4-opengl-dev,
               libqtwebkit-dev,
               libraw1394-dev [linux-any],
               libsensors4-dev [linux-any],
               libsm-dev,
               libsoprano-dev (>= 2.7.56),
               libstreamanalyzer-dev (>= 0.6.3),
               libstrigiqtdbusclient-dev (>= 0.6.3),
               libudev-dev [linux-any],
               libusb-dev,
               libx11-xcb-dev,
               libxcb-composite0-dev,
               libxcb-damage0-dev,
               libxcb-image0-dev,
               libxcb-keysyms1-dev,
               libxcb-randr0-dev,
               libxcb-render-util0-dev,
               libxcb-render0-dev,
               libxcb-shape0-dev,
               libxcb-shm0-dev,
               libxcb-sync-dev,
               libxcb-xfixes0-dev,
               libxcb-xtest0-dev,
               libxcomposite-dev,
               libxcursor-dev,
               libxdamage-dev,
               libxfixes-dev,
               libxft-dev,
               libxi-dev,
               libxinerama-dev,
               libxkbfile-dev,
               libxrandr-dev,
               libxrender-dev,
               libxss-dev,
               libxtst-dev,
               nepomuk-core-dev (>= 4:4.11),
               network-manager-dev (>= 0.9) [linux-any],
               pkg-kde-tools (>= 0.14),
               python-dev (>= 2.6.6-3~),
               shared-desktop-ontologies (>= 0.8),
               udev [linux-any],
               zlib1g-dev
Standards-Version: 3.9.5
X-Python-Version: >= 2.5
XS-Testsuite: autopkgtest
Homepage: http://www.kde.org/
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/kde-sc/kde-workspace.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/kde-sc/kde-workspace.git

Package: kde-workspace
Architecture: all
Depends: freespacenotifier (>= ${source:Version}),
         kde-window-manager (>= ${source:Version}),
         kde-workspace-bin (>= ${source:Version}),
         klipper (>= ${source:Version}),
         ksysguard (>= ${source:Version}),
         systemsettings (>= ${source:Version}),
         ${misc:Depends}
Recommends: kdm (>= ${source:Version}),
            kinfocenter (>= ${source:Version}),
            kmenuedit (>= ${source:Version})
Breaks: kdebase-workspace (<< 4:4.7.2)
Replaces: kdebase-workspace (<< 4:4.7.2)
Description: KDE Plasma Workspace components
 KDE is produced by an international technology team that creates free and open
 source software for desktop and portable computing. Among KDE's products are a
 modern desktop system for Linux and UNIX platforms, comprehensive office
 productivity and groupware suites and hundreds of software titles in many
 categories including Internet and web applications, multimedia, entertainment,
 educational, graphics and software development.
 .
 This package provides a basic KDE desktop installation.

Package: kdebase-workspace
Section: oldlibs
Priority: extra
Architecture: all
Depends: kde-workspace, ${misc:Depends}
Description: transitional package for kde-workspace
 This is a dummy transitional package for kde-workspace and can be safely
 removed after the installation is complete.

Package: plasma-desktop
Architecture: any
Depends: kde-wallpapers-default,
         plasma-widgets-workspace (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: kde-workspace
Replaces: kdebase-workspace-bin (<< 4:4.5), kdebase-workspace-data (<< 4:4.5)
Breaks: kdebase-workspace-bin (<< 4:4.5),
        kdebase-workspace-data (<< 4:4.5),
        plasma-widget-networkmanagement (<< 0.1+git20110422.810bc16-1+)
Description: KDE Plasma workspace for desktop and laptop computers
 Provides the environment for running and managing applications and integrating
 interaction of applications. It is designed as generic environment for all
 kinds of desktop applications, not only applications built on the KDE Platform.
 It integrates best with applications following the standards used by the KDE
 Platform.
 .
 This package is part of the KDE base workspace module.

Package: plasma-netbook
Architecture: any
Depends: kde-wallpapers-default,
         plasma-widgets-workspace (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: kde-workspace
Description: KDE Plasma workspace for netbook computers
 Provides the environment for running and managing applications and integrating
 interaction of applications. It is designed as generic environment for all
 kinds of applications in a netbook environment, not only applications built on
 the KDE Platform. It integrates best with applications following the standards
 used by the KDE Platform.
 .
 This package is part of the KDE base workspace module.

Package: kde-workspace-bin
Architecture: any
Depends: iso-codes,
         kde-runtime (>= 4:4.10.2),
         kde-workspace-data (= ${source:Version}),
         kde-workspace-kgreet-plugins (= ${binary:Version}),
         plasma-desktop (= ${binary:Version}) | plasma-netbook (= ${binary:Version}),
         qdbus,
         x11-utils,
         x11-xserver-utils,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: plasma-scriptengines,
            polkit-kde-1 (>= 0.99) | policykit-1-gnome,
            upower [linux-any]
Suggests: x11-xkb-utils
Replaces: kcontrol,
          kdebase-data (<< 4:4.5),
          kdebase-runtime (<< 4:4.5),
          kdebase-workspace-bin (<< 4:4.7.2),
          kdesktop,
          ksplash,
          ktip,
          libkfontinst4
Breaks: kcontrol,
        kdebase-data (<< 4:4.5),
        kdebase-runtime (<< 4:4.5),
        kdebase-workspace-bin (<< 4:4.7.2),
        kdesktop,
        ksplash,
        ktip,
        libkfontinst4,
        polkit-kde-1 (<< 0.99)
Description: core binaries for the KDE Plasma Workspace
 This package contains miscellaneous programs needed for a basic desktop
 installation. Among other standard KDE Workspace components, the package
 provides startkde scripts, ksmserver (the session manager), krunner,
 the default KDE screensavers and many KDE configuration modules. This
 package is essential to start and use KDE Plasma Workspace.
 .
 This package is part of the KDE base workspace module.

Package: kdebase-workspace-bin
Section: oldlibs
Priority: extra
Architecture: all
Depends: kde-workspace-bin, ${misc:Depends}
Description: transitional package for kde-workspace-bin
 This is a dummy transitional package for kde-workspace-bin and can be safely
 removed after the installation is complete.

Package: kde-workspace-data
Architecture: all
Depends: kde-base-artwork, oxygencursors, ${misc:Depends}, ${perl:Depends}
Replaces: kde-icons-mono (<< 4:4.6.80),
          kdebase-runtime-data (<< 4:4.5),
          kdebase-workspace-data (<< 4:4.7.2),
          ksmserver,
          ksplash,
          ktip,
          libplasma1
Breaks: kde-icons-mono (<< 4:4.6.80),
        kdebase-runtime-data (<< 4:4.5),
        kdebase-workspace-data (<< 4:4.7.2),
        ksmserver,
        ksplash,
        ktip,
        libplasma1
Recommends: kde-wallpapers
Description: shared data files for the KDE Plasma Workspace
 This package contains architecture-independent shared data files needed for a
 basic KDE Workspace installation.
 .
 This package is part of the KDE base workspace module.

Package: kde-workspace-dev
Architecture: any
Depends: libx11-xcb-dev,
         libxcb-xfixes0-dev,
         mesa-common-dev,
         ${allLibraries},
         ${misc:Depends},
         ${sameVersionDep:kdelibs5-dev:kde-workspace-bin},
         ${shlibs:Depends}
Breaks: kdebase-workspace-dev (<< 4:4.7.2)
Replaces: kdebase-workspace-dev (<< 4:4.7.2)
Description: development files for the KDE Plasma Workspace
 This package contains development files for building software that uses
 libraries from the KDE Plasma Workspace.
 .
 This package is part of the KDE base workspace module.

Package: kdebase-workspace-dev
Section: oldlibs
Priority: extra
Architecture: all
Depends: kde-workspace-dev, ${misc:Depends}
Description: transitional package for kde-workspace-dev
 This is a dummy transitional package for kde-workspace-dev and can be safely
 removed after the installation is complete.

Package: plasma-dataengines-workspace
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: ksysguardd (= ${binary:Version})
Breaks: kde-workspace-bin (<< 4:4.9.3)
Replaces: kde-workspace-bin (<< 4:4.9.3)
Description: KDE Plasma data engines
 This package contains standard Plasma data engines shipped in KDE Plasma
 workspace. These engines are needed by the standard KDE base
 workspace Plasma widgets, but they may be useful for any other Plasma widget
 too.
 .
 This package is part of the KDE base workspace module.

Package: plasma-widgets-workspace
Architecture: any
Depends: plasma-dataengines-workspace (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Provides: notification-daemon
Description: plasma widgets and containments for the KDE Plasma Workspace
 This package contains standard Plasma widgets and containments shipped in the
 KDE base workspace module. They provide such basic desktop functionality as
 the panel, task manager, application laucher, clock and more. The default KDE
 Workspace is a combination of these visual components.
 .
 This package also includes the default animator used by the main KDE Plasma
 Desktop shell.
 .
 This package is part of the KDE base workspace module.

Package: plasma-scriptengines
Architecture: all
Depends: plasma-scriptengine-javascript (>= 4:4.2.95),
         plasma-scriptengine-python (>= ${source:Version}),
         plasma-scriptengine-ruby (>= ${source:Version}),
         plasma-scriptengine-webkit (>= ${source:Version}),
         ${misc:Depends}
Recommends: plasma-scriptengine-superkaramba
Suggests: plasma-scriptengine-kimono
Description: metapackage to install all Plasma script engines
 This metapackage depends on all Plasma script engines which kde-workspace
 module provides and suggests script engines from other official KDE modules.
 .
 This package is part of the KDE base workspace module.

Package: plasma-scriptengine-ruby
Architecture: all
Depends: ruby-plasma, ${misc:Depends}
Description: Ruby script engine for Plasma
 This package provides the Ruby script engine for Plasma. You have to install it
 if you want to use Plasma widgets and data engines written in Ruby.
 .
 This package is part of the KDE base workspace module.

Package: plasma-scriptengine-python
Architecture: all
Depends: python-kde4 (>= 4:4.6.80),
         python-qt4-dbus,
         ${misc:Depends},
         ${python:Depends}
Description: Python script engine for Plasma
 This package provides the Python script engine for Plasma. You have to install
 it if you want to use Plasma widgets and data engines written in Python.
 .
 This package is part of the KDE base workspace module.

Package: plasma-scriptengine-webkit
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Web and Mac OS X dashboard widget support for Plasma
 This package provides the WebKit script engine for Plasma which adds support
 for the webpage widgets written in HTML and JavaScript and for the Apple
 Mac OS X dashboard widgets. You have to install this package if you want to be
 able to load these widgets in your Plasma shell.
 .
 This package is part of the KDE base workspace module.

Package: freespacenotifier
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: free space notification module for KDE
 This module notifies the user when /home or one of the other directories
 which you can configure it to monitor are running out of space.
 .
 More technically, this package provides a module for kded, the KDE Daemon.
 .
 This package is part of the KDE base workspace module.

Package: kdm
Section: x11
Architecture: any
Depends: adduser,
         consolekit,
         debconf | debconf-2.0,
         kde-wallpapers-default,
         kde-workspace-kgreet-plugins (= ${binary:Version}),
         lsb-base (>= 3.2-14),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: kde-workspace | x-session-manager | x-window-manager,
            logrotate,
            xserver-xorg | xserver,
            xterm | x-terminal-emulator
Suggests: kde-wallpapers, kdepasswd
Replaces: kde-kdm-themes, kdmtheme
Breaks: kde-kdm-themes, kdmtheme
Provides: x-display-manager
Description: KDE Display Manager for X11
 KDM manages a collection of X servers running on local or remote machines.
 It allows users to easily log into their preferred desktop environment, connect
 to a remote XDMCP server, or shut down the system.
 .
 KDM supports custom themes and can display a list of users with icons.
 Additional user icons can be found in the 'kdepasswd' package.
 .
 This package is part of the KDE base workspace module.

Package: kinfocenter
Section: utils
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: kcontrol
Breaks: kcontrol
Description: system information viewer
 KInfoCenter provides you with a graphical overview of various aspects of your
 system, such as memory usage, storage capacity, and attached devices.
 .
 This package is part of the KDE base workspace module.

Package: klipper
Section: x11
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: clipboard manager
 Klipper is a clipboard manager. It stores a history of the clipboard
 contents and can automatically perform actions when certain items are
 selected, such as launch a web browser when a URL is selected.
 .
 This package is part of the KDE base workspace module.

Package: ksysguardd
Section: utils
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: System Guard Daemon
 System Guard Daemon can be installed on a remote system so that the KDE
 System Guard can connect to and monitor it.
 .
 This package is part of the KDE base workspace module.

Package: ksysguard
Section: utils
Architecture: any
Depends: ksysguardd (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: process monitor and system statistics
 System Guard allows you to monitor various statistics about your system.
 .
 In addition to monitoring the local system, it can connect to remote systems
 running the System Guard Daemon, which is in the 'ksysguardd' package.
 .
 This package is part of the KDE base workspace module.

Package: kde-window-manager
Section: x11
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Breaks: kde-style-bespin (<< 0.r1552-1+),
        kde-style-skulpture,
        kde-workspace-data (<< 4:4.8.4-0r5),
        kdeartwork-theme-window (<< 4:4.9.5),
        kdebase-workspace-data (<< 4:4.7.2),
        kwin-style-crystal (<< 2.2.1),
        kwin-style-dekorator,
        kwin-style-qtcurve (<< 1.8.14-2+)
Replaces: kde-workspace-data (<< 4:4.8.4-0r5),
          kdebase-workspace-data (<< 4:4.7.2)
Provides: x-window-manager
Description: K window manager (KWin)
 This package contains KWin, the KDE window manager, featuring
 hardware-accelerated compositing effects.
 .
 This package is part of the KDE base workspace module.

Package: libkdecorations4abi2
Section: libs
Architecture: any
X-Debian-ABI: 2
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: libkdecorations4abi1
Replaces: libkdecorations4abi1
Description: library used by decorations for the KDE window manager
 This package contains a library used by decorations of the KDE window
 manager.
 .
 This package is part of the KDE base workspace module.

Package: libkwineffects1abi5
Section: libs
Architecture: any
X-Debian-ABI: 5
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: library used by effects for the KDE window manager
 This package contains a library used by effects for the KDE window manager.
 .
 This package is part of the KDE base workspace module.

Package: systemsettings
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: System Settings
 System Settings is an improved user interface for configuring the desktop
 and other aspects of the system.
 .
 This package is part of the KDE base workspace module.

Package: kde-workspace-kgreet-plugins
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: kdebase-workspace-kgreet-plugins (<< 4:4.7.2)
Replaces: kdebase-workspace-kgreet-plugins (<< 4:4.7.2)
Description: KDE greet libraries for authentication
 This package contains libraries needed for kdm and locker authentication.
 .
 This package is part of the KDE base workspace module.

Package: kde-style-oxygen
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: kdebase-runtime (<< 4:4.7.2),
        kdebase-workspace-bin (<< 4:4.7.2),
        kdebase-workspace-data (<< 4:4.7.2)
Replaces: kdebase-runtime (<< 4:4.7.2),
          kdebase-workspace-bin (<< 4:4.7.2),
          kdebase-workspace-data (<< 4:4.7.2)
Description: Oxygen widget style
 This package provides the Oxygen widget style. It may be used for KDE and Qt
 applications.
 .
 This package is part of the KDE base workspace module.

Package: kmenuedit
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: kdebase-workspace-bin (<< 4:4.7.2), kdebase-workspace-data (<< 4:4.7.2)
Replaces: kdebase-workspace-bin (<< 4:4.7.2),
          kdebase-workspace-data (<< 4:4.7.2)
Description: XDG menu editor
 This package provides a menu editor which may be used to edit the KDE Plasma
 workspaces menu or any other XDG menu.
 .
 This package is part of the KDE base workspace module.

Package: libkephal4abi1
Section: libs
Architecture: any
X-Debian-ABI: 1
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: API for easier handling of multihead systems
 This package contains libraries needed for Kephal's D-Bus API.
 .
 This package is part of the KDE base workspace module.

Package: libkscreensaver5
Section: libs
Architecture: any
X-Debian-ABI: 0
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: library of the KDE Screensaver system
 This package contains libraries needed for kscreensaver.
 .
 This package is part of the KDE base workspace module.

Package: libksgrd4
Section: libs
Architecture: any
X-Debian-ABI: 0
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: library for ksysguard
 This package contains the library needed for ksysguard, the KDE process
 monitor and system statistics application, and for applications and Plasma
 data engines which want to interface with ksysguardd.
 .
 This package is part of the KDE base workspace module.

Package: libksignalplotter4
Section: libs
Architecture: any
X-Debian-ABI: 0
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: KSignalPlotter widget
 This library contains the KSignalPlotter widget, which is a widget that
 draws a real time graph of data that updates continually.
 .
 This package is part of the KDE base workspace module.

Package: libkworkspace4abi2
Section: libs
Architecture: any
X-Debian-ABI: 2
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: library for the kdebase workspace
 This package contains libraries needed for the kdebase workspace.
 .
 This package is part of the KDE base workspace module.

Package: liblsofui4
Section: libs
Architecture: any
X-Debian-ABI: 0
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: library for ksysguard's list of open files
 This package contains a library of ksysguard that shows a graphical
 view of the list of open files of running processes.
 .
 This package is part of the KDE base workspace module.

Package: libplasmaclock4abi4
Section: libs
Architecture: any
X-Debian-ABI: 4
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: library for Plasma clocks
 This package contains libraries needed for Plasma clocks.
 .
 This package is part of the KDE base workspace module.

Package: libplasma-geolocation-interface4
Section: libs
Architecture: any
X-Debian-ABI: 0
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: library for the Plasma geolocation
 This package contains libraries needed for the Plasma geolocation.
 .
 This package is part of the KDE base workspace module.

Package: libkwinglutils1abi2
Section: libs
Architecture: any
X-Debian-ABI: 2
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: library with OpenGL utilities for the KDE window manager
 This package contains a library with OpenGL utilities used by the KDE window
 manager.
 .
 This package is part of the KDE base workspace module.

Package: libplasmagenericshell4
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: shared elements for all the plasma shells
 This library contains elements shared by the plasma desktop shell,
 the plasma netbook shell and the plasma screensaver overlay.
 .
 This package is part of the KDE base workspace module.

Package: libprocesscore4abi1
Section: libs
Architecture: any
X-Debian-ABI: 1
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: library for ksysguard based process view
 This package contains libraries needed for ksysguard based process view.
 .
 This package is part of the KDE base workspace module.

Package: libprocessui4a
Section: libs
Architecture: any
X-Debian-ABI: 0
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: libprocessui4-api
Replaces: libprocessui4, libprocessui4-api
Breaks: libprocessui4, libprocessui4-api
Description: library for ksysguard process user interface
 This package contains libraries needed for ksysguard process user interface.
 .
 This package is part of the KDE base workspace module.

Package: libtaskmanager4abi4
Section: libs
Architecture: any
X-Debian-ABI: 4
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: library which provides task management facilities
 This package contains libraries which provide task management facilities.
 .
 This package is part of the KDE base workspace module.

Package: libweather-ion6
Section: libs
Architecture: any
X-Debian-ABI: 0
X-CMake-Target: weather_ion
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: library which provides an interface for weather information services
 This package contains the library used to implement new ions (i.e. information
 fetching plugins) for the Plasma weather engine.
 .
 This package is part of the KDE base workspace module.

Package: kde-workspace-dbg
Section: debug
Architecture: any
Priority: extra
Depends: kde-runtime-dbg, ${misc:Depends}
Replaces: kdebase-dbg (<< 4:4.5),
          kdebase-runtime-dbg (<< 4:4.5),
          kdebase-workspace-dbg (<< 4:4.7.2)
Breaks: kdebase-dbg (<< 4:4.5),
        kdebase-runtime-dbg (<< 4:4.5),
        kdebase-workspace-dbg (<< 4:4.7.2)
Suggests: kde-workspace (>= ${source:Version})
Description: debugging symbols for the KDE Plasma Workspaces
 This package contains debugging files used to investigate problems with
 binaries included in the KDE base workspace module.

Package: kdebase-workspace-dbg
Section: oldlibs
Architecture: any
Priority: extra
Depends: kde-workspace-dbg, ${misc:Depends}
Description: transitional package for kde-workspace-dbg
 This is a dummy transitional package for kde-workspace-dbg and can be safely
 removed after the installation is complete.

Package: ktouchpadenabler
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: kde-workspace-bin (<< 4:4.10.4-1~)
Replaces: kde-workspace-bin (<< 4:4.10.4-1~)
Description: kded daemon to enable/disable touchpad
 ktouchpadenabler is a kded daemon to enable and disable the system's touchpad
 by listening for XF86XK_TouchpadToggle, XF86XK_TouchpadOn, and
 XF86XK_TouchpadOff key events.
