Source: kdebase-workspace
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <sune@debian.org>, Fathi Boudra <fabo@debian.org>, Armin Berres <armin+debian@space-based.de>,
 Modestas Vainius <modax@debian.org>, George Kiagiadakis <kiagiadakis.george@gmail.com>
Build-Depends: kde-sc-dev-latest (>= 4:4.4.5),
 cdbs (>= 0.4.51), cmake, debhelper (>= 7), pkg-kde-tools (>= 0.9), dpkg-dev (>= 1.15.5),
 kdelibs5-dev (>= 4:4.5.95), kdepimlibs5-dev (>= 4:4.5.95),
 libstrigiqtdbusclient-dev (>= 0.6.3), libstreamanalyzer-dev (>= 0.6.3),
 libqimageblitz-dev (>= 1:0.0.4-2),
 zlib1g-dev,
 libdbusmenu-qt-dev,
 libfontconfig-dev,
 libggadget-1.0-dev (>= 0.11.2), libggadget-qt-1.0-dev (>= 0.11.2),
 libglu1-mesa-dev, libqt4-opengl-dev,
 python-support (>= 0.6), python-dev,
 shared-desktop-ontologies,
 libpam0g-dev,
 libnm-util-dev (>= 0.7) [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386],
 network-manager-dev (>= 0.7.0) [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386],
 libraw1394-dev [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386],
 libusb-dev, libpci-dev,
 libakonadi-dev (>= 1.1.95), libboost-dev,
 libgps-dev (>= 2.90),
 libck-connector-dev, libdbus-1-dev,
 libsensors4-dev [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386],
 libdevstat-dev [kfreebsd-i386 kfreebsd-amd64],
 libxkbfile-dev, libxrandr-dev, libxrender-dev, libxcomposite-dev, libxdamage-dev,
 libxfixes-dev, libxft-dev, libxtst-dev, libxss-dev, libsm-dev, libxinerama-dev, libxi-dev,
 libpng-dev, libjpeg62-dev, libxcursor-dev,
 libqalculate-dev,
 libdmtx-dev,
 libqtwebkit-dev
Standards-Version: 3.8.4
Homepage: http://www.kde.org/
Vcs-Browser: http://git.debian.org/?p=pkg-kde/kde-sc/kdebase-workspace.git
Vcs-Git: git://git.debian.org/pkg-kde/kde-sc/kdebase-workspace.git

Package: kdebase-workspace
Architecture: all
Depends:  kdebase-workspace-bin (>= ${source:Version}), ${misc:Depends},
 klipper (>= ${source:Version}), ksysguard (>= ${source:Version}), 
 kde-window-manager (>= ${source:Version}), systemsettings (>= ${source:Version}),
 freespacenotifier (>= ${source:Version})
Recommends: kdm (>= ${source:Version}), kinfocenter (>= ${source:Version})
Description: KDE Plasma Workspace components
 KDE is produced by an international technology team that creates free and open
 source software for desktop and portable computing. Among KDE's products are a
 modern desktop system for Linux and UNIX platforms, comprehensive office
 productivity and groupware suites and hundreds of software titles in many
 categories including Internet and web applications, multimedia, entertainment,
 educational, graphics and software development.
 .
 This package provides a basic KDE desktop installation.

Package: plasma-desktop
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, plasma-widgets-workspace (= ${binary:Version})
Recommends: kdebase-workspace
Replaces: kdebase-workspace-bin (<< 4:4.5.0), kdebase-workspace-data (<< 4:4.5.0),
 plasma-widgets-workspace (<< 4:4.4.0)
Description: The KDE Plasma workspace for desktop and laptop computers
 Provides the environment for running and managing applications and integrating
 interaction of applications. It is designed as generic environment for all
 kinds of desktop applications, not only applications built on the KDE Platform.
 It integrates best with applications following the standards used by the KDE
 Platform.
 .
 This package is part of the KDE base workspace module.

Package: plasma-netbook
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, plasma-widgets-workspace (= ${binary:Version})
Recommends: kdebase-workspace
Description: The KDE Plasma workspace for netbook computers
 Provides the environment for running and managing applications and integrating
 interaction of applications. It is designed as generic environment for all
 kinds of applications in a netbook environment, not only applications built on
 the KDE Platform. It integrates best with applications following the standards
 used by the KDE Platform.
 .
 This package is part of the KDE base workspace module.

Package: kdebase-workspace-bin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, iso-codes,
 plasma-desktop (= ${binary:Version}) | plasma-netbook (= ${binary:Version}),
 kdebase-workspace-data (= ${source:Version}), x11-utils, x11-xserver-utils,
 kaboom (>= 1.0.5), kdebase-workspace-kgreet-plugins (= ${binary:Version})
Recommends: plasma-scriptengines, polkit-kde-1 | policykit-1-gnome
Suggests: x11-xkb-utils
Conflicts: kcontrol, libplasma1, libplasma2, libkfontinst4, ksplash
Replaces: kdebase-bin (<< 4:4.0.0-1), kcontrol, kmenuedit, ktip, libplasma2,
 kde-window-manager (<< 4:4.1.80), kdebase-workspace-data (<< 4:4.1.82),
 kdebase-workspace-libs4+5, libkfontinst4, ksplash, kdebase-runtime (<< 4:4.5.0),
 kdebase-data (<< 4:4.5.0), kdesktop
Breaks: kdesktop
Description: core binaries for the KDE Plasma Workspace
 This package contains miscellaneous programs needed for a basic desktop
 installation. Among other standard KDE Workspace components, the package
 provides startkde scripts, ksmserver (the session manager), krunner,
 the default KDE screensavers and many KDE configuration modules. This
 package is essential to start and use KDE Plasma Workspace.
 .
 This package is part of the KDE base workspace module.

Package: kdebase-workspace-data
Architecture: all
Depends: oxygencursors, ${misc:Depends}, ${perl:Depends}
Conflicts: ksmserver, kdebase-bin (<< 4:4.0.0-1), kdebase-data (<< 4:4.0.0-1),
 kmenuedit, ktip, libplasma1, systemsettings (<< 4:4.1.80), ksplash
Replaces: ksmserver, kdebase-bin (<< 4:4.0.0-1), kdebase-data (<< 4:4.0.0-1),
 kmenuedit, ktip, kdebase-runtime-data (<< 4:4.5.0), kde-window-manager (<< 4:4.1.80),
 kdm (<< 4:4.2.0-3), systemsettings (<< 4:4.1.80), ksplash
Description: shared data files for the KDE Plasma Workspace
 This package contains architecture-independent shared data files needed for a
 basic KDE Workspace installation.
 .
 This package is part of the KDE base workspace module.

Package: kdebase-workspace-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${allLibraries},
 ${sameVersionDep:kdelibs5-dev:kdebase-workspace-bin},
Replaces: kdebase-workspace-data (<< 4:4.1.80), ksysguard (<< 4:4.1.80), libplasma-dev (<< 4:4.1.80),
 kde-window-manager (<< 4:4.1.80)
Conflicts: kdebase-workspace-libs4+5
Description: development files for the KDE Plasma Workspace
 This package contains development files for building software that uses
 libraries from the KDE Plasma Workspace.
 .
 This package is part of the KDE base workspace module.

Package: plasma-dataengines-workspace
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: ksysguardd (= ${binary:Version})
Replaces: kdebase-workspace-bin (<< 4:4.1.82), kdebase-workspace-data (<< 4:4.1.82),
 systemsettings (<< 4:4.1.80), libplasma2
Conflicts: libplasma2
Description: KDE Plasma data engines
 This package contains standard Plasma data engines shipped in KDE Plasma
 workspace. These engines are needed by the standard KDE base
 workspace Plasma widgets, but they may be useful for any other Plasma widget
 too.
 .
 This package is part of the KDE base workspace module.

Package: plasma-widgets-workspace
Architecture: any
Depends: ${shlibs:Depends}, plasma-dataengines-workspace (= ${binary:Version}), ${misc:Depends}, kdebase-runtime (>> 4.3.3~)
Replaces: kdebase-workspace-bin (<< 4:4.1.82), kdebase-workspace-data (<< 4:4.1.82), libplasma2,
 plasma-applets-workspace, kdebase-workspace-libs4+5, libplasma-applet-system-monitor4
Conflicts: libplasma2, plasma-applets-workspace, kdebase-workspace-libs4+5, libplasma-applet-system-monitor4
Description: plasma widgets and containments for the KDE Plasma Workspace
 This package contains standard Plasma widgets and containments shipped in the
 KDE base workspace module. They provide such basic desktop functionality as
 the panel, task manager, application laucher, clock and more. The default KDE
 Workspace is a combination of these visual components.
 .
 This package also includes the default animator used by the main KDE Plasma
 Desktop shell.
 .
 This package is part of the KDE base workspace module.

Package: plasma-scriptengines
Architecture: all
Depends: plasma-scriptengine-javascript (>= 4:4.2.95),
# plasma-scriptengine-qedje (>= ${source:Version}),
 plasma-scriptengine-ruby (>= ${source:Version}),
 plasma-scriptengine-python (>= ${source:Version}),
 plasma-scriptengine-webkit (>= ${source:Version}),
 plasma-scriptengine-googlegadgets (>= ${source:Version}), ${misc:Depends}
Recommends: plasma-scriptengine-superkaramba
Suggests: plasma-scriptengine-kimono
Description: a metapackage to install all Plasma script engines
 This metapackage depends on all Plasma script engines which kdebase-workspace
 module provides and suggests script engines from other official KDE modules.
 .
 This package is part of the KDE base workspace module.

#Package: plasma-scriptengine-qedje
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: QEdje script engine for Plasma
# This package provides the Edje script engine for Plasma. You have to install it
# if you want to use Plasma widgets and data engines written in Edje.
# .
# This package is part of the KDE base workspace module.

Package: plasma-scriptengine-ruby
Architecture: all
Depends: libplasma-ruby (>= 4:4.2.0), ${misc:Depends}
Replaces: kdebase-workspace-bin (<< 4:4.1.82+svn893000), kdebase-workspace-data (<< 4:4.1.82+svn893000)
Description: Ruby script engine for Plasma
 This package provides the Ruby script engine for Plasma. You have to install it
 if you want to use Plasma widgets and data engines written in Ruby.
 .
 This package is part of the KDE base workspace module.

Package: plasma-scriptengine-python
Architecture: all
Depends: ${python:Depends}, python-kde4 (>= 4:4.2.0), ${misc:Depends}
Description: Python script engine for Plasma
 This package provides the Python script engine for Plasma. You have to install
 it if you want to use Plasma widgets and data engines written in Python.
 .
 This package is part of the KDE base workspace module.

Package: plasma-scriptengine-webkit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: kdebase-workspace-bin (<< 4:4.1.82+svn893000), kdebase-workspace-data (<< 4:4.1.82+svn893000)
Description: Web and Mac OS X dashboard widget support for Plasma
 This package provides the WebKit script engine for Plasma which adds support
 for the webpage widgets written in HTML and JavaScript and for the Apple
 Mac OS X dashboard widgets. You have to install this package if you want to be
 able to load these widgets in your Plasma shell.
 .
 This package is part of the KDE base workspace module.

Package: plasma-scriptengine-googlegadgets
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, google-gadgets-qt, google-gadgets-xul, ${misc:Depends}
Description: Google Gadgets script engine for Plasma
 This package contains the Google Gadgets script engine for Plasma. It enables
 Plasma to serve as a Google Gadgets host and allows to load and use any gadget
 as if it was a Plasma widget. It also integrates download and installation of
 new gadgets from the official Google Desktop Gadgets website.
 .
 This package is part of the KDE base workspace module.

Package: freespacenotifier
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: free space notification module for KDE
 This module notifies the user when /home or one of the other directories
 which you can configure it to monitor are running out of space.
 .
 More technically, this package provides a module for kded, the KDE Daemon.
 .
 This package is part of the KDE base workspace module.

Package: kdm
Section: x11
Architecture: any
Depends: ${shlibs:Depends}, debconf | debconf-2.0, lsb-base (>= 3.2-14), consolekit, ${misc:Depends},
 kdebase-workspace-kgreet-plugins (= ${binary:Version}), adduser
Recommends: logrotate, xserver-xorg-core | xserver,
 kdebase | x-session-manager | x-window-manager, xterm | x-terminal-emulator
Suggests: kdepasswd
Replaces: kdebase-workspace-data (<< 4:4.1.80), kdebase-workspace-bin (<< 4:4.1.80)
Conflicts: desktop-base (<< 4.0.4), kdebase-data (<< 4:4.0.0-1), kde-kdm-themes, kdmtheme
Provides: x-display-manager
Description: KDE Display Manager for X11
 KDM manages a collection of X servers running on local or remote machines.
 It allows users to easily log into their preferred desktop environment, connect
 to a remote XDMCP server, or shut down the system.
 .
 KDM supports custom themes and can display a list of users with icons.
 Additional user icons can be found in the 'kdepasswd' package.
 .
 This package is part of the KDE base workspace module.

Package: kinfocenter
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: kcontrol
Replaces: kdebase-bin (<< 4:4.0.0-1)
Description: system information viewer
 KInfoCenter provides you with a graphical overview of various aspects of your
 system, such as memory usage, storage capacity, and attached devices.
 .
 This package is part of the KDE base workspace module.

Package: klipper
Section: x11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: kdebase-workspace-data (<< 4:4.1.80)
Description: clipboard manager
 Klipper is a clipboard manager. It stores a history of the clipboard
 contents and can automatically perform actions when certain items are
 selected, such as launch a web browser when a URL is selected.
 .
 This package is part of the KDE base workspace module.

Package: ksysguardd
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: System Guard Daemon
 System Guard Daemon can be installed on a remote system so that the KDE
 System Guard can connect to and monitor it.
 .
 This package is part of the KDE base workspace module.

Package: ksysguard
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ksysguardd (= ${binary:Version})
Replaces: kdebase-workspace-data (<< 4:4.1.80)
Description: process monitor and system statistics
 System Guard allows you to monitor various statistics about your system.
 .
 In addition to monitoring the local system, it can connect to remote systems
 running the System Guard Daemon, which is in the 'ksysguardd' package.
 .
 This package is part of the KDE base workspace module.

Package: kde-window-manager
Section: x11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Provides: x-window-manager
Replaces: kdebase-workspace-data (<< 4:4.1.80), kdebase-workspace-bin (<< 4:4.1.80),
 kwin, kdebase-runtime-data (<< 4:4.4.0)
Conflicts: kwin
Description: the K window manager (KWin)
 This package contains KWin, the KDE window manager, featuring 
 hardware-accelerated compositing effects.
 .
 This package is part of the KDE base workspace module.

Package: libkdecorations4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: kwin (>= 4:4.0.1-1)
Conflicts: kwin (>= 4:4.0.1-1)
Description: library used by decorations for the KDE window manager
 This package contains a library used by decorations of the KDE  window
 manager.
 .
 This package is part of the KDE base workspace module.

Package: libkwineffects1a
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libkwineffects1-api
Replaces: kwin (>= 4:4.0.1-1), libkwineffects1, libkwineffects1-api
Conflicts: kwin (>= 4:4.0.1-1), libkwineffects1, libkwineffects1-api
Description: library used by effects for the KDE window manager
 This package contains a library used by effects for the KDE window manager.
 .
 This package is part of the KDE base workspace module.

Package: systemsettings
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: kdebase-workspace-bin (<= 4:4.2.2-2), kdebase-workspace-data (<< 4:4.1.80)
Description: System Settings
 System Settings is an improved user interface for configuring the desktop
 and other aspects of the system.
 .
 This package is part of the KDE base workspace module.

Package: kdebase-workspace-kgreet-plugins
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: kdebase-workspace-bin (<< 4:4.2.4), kdm (<< 4:4.2.0-2)
Description: KDE greet libraries for authentication
 This package contains libraries needed for kdm and locker authentication.
 .
 This package is part of the KDE base workspace module.

Package: libkephal4a
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libkephal4-api
Replaces: kdebase-workspace-libs4+5, libkephal4, libkephal4-api
Conflicts: kdebase-workspace-libs4+5, libkephal4, libkephal4-api
Description: API for easier handling of multihead systems
 This package contains libraries needed for Kephal's D-Bus API.
 .
 This package is part of the KDE base workspace module.

Package: libkscreensaver5
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: kdebase-workspace-libs4+5
Conflicts: kdebase-workspace-libs4+5
Description: library of the KDE Screensaver system
 This package contains libraries needed for kscreensaver.
 .
 This package is part of the KDE base workspace module.

Package: libksgrd4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: kdebase-workspace-libs4+5
Conflicts: kdebase-workspace-libs4+5
Description: library for ksysguard
 This package contains the library needed for ksysguard, the KDE process
 monitor and system statistics application, and for applications and Plasma
 data engines which want to interface with ksysguardd.
 .
 This package is part of the KDE base workspace module.

Package: libksignalplotter4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: the KSignalPlotter widget
 This library contains the KSignalPlotter widget, which is a widget that
 draws a real time graph of data that updates continually.
 .
 This package is part of the KDE base workspace module.

Package: libkworkspace4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: kdebase-workspace-libs4+5
Conflicts: kdebase-workspace-libs4+5
Description: library for the kdebase workspace
 This package contains libraries needed for the kdebase workspace.
 .
 This package is part of the KDE base workspace module.

Package: liblsofui4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: kdebase-workspace-libs4+5
Conflicts: kdebase-workspace-libs4+5
Description: library for ksysguard based priority scheduling
 This package contains libraries needed for ksysguard based scheduling
 priority of a process.
 .
 This package is part of the KDE base workspace module.

Package: libplasmaclock4b
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libplasmaclock4-api
Replaces: kdebase-workspace-libs4+5, libplasmaclock4, libplasmaclock4-api
Conflicts: kdebase-workspace-libs4+5, libplasmaclock4, libplasmaclock4-api
Description: library for Plasma clocks
 This package contains libraries needed for Plasma clocks.
 .
 This package is part of the KDE base workspace module.

Package: libplasma-geolocation-interface4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: kdebase-workspace-libs4+5
Conflicts: kdebase-workspace-libs4+5
Description: library for the Plasma geolocation
 This package contains libraries needed for the Plasma geolocation.
 .
 This package is part of the KDE base workspace module.

Package: libplasmagenericshell4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: shared elements for all the plasma shells
 This library contains elements shared by the plasma desktop shell,
 the plasma netbook shell and the plasma screensaver overlay.
 .
 This package is part of the KDE base workspace module.

Package: libprocesscore4b
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libprocesscore4-api
Replaces: kdebase-workspace-libs4+5, libprocesscore4, libprocesscore4-api
Conflicts: kdebase-workspace-libs4+5, libprocesscore4, libprocesscore4-api
Description: library for ksysguard based process view
 This package contains libraries needed for ksysguard based process view.
 .
 This package is part of the KDE base workspace module.

Package: libprocessui4a
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libprocessui4-api
Replaces: kdebase-workspace-libs4+5, libprocessui4, libprocessui4-api
Conflicts: kdebase-workspace-libs4+5, libprocessui4, libprocessui4-api
Description: library for ksysguard process user interface
 This package contains libraries needed for ksysguard process user interface.
 .
 This package is part of the KDE base workspace module.

Package: libsolidcontrol4a
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libsolidcontrol4-api
Replaces: kdebase-workspace-libs4+5, libsolidcontrol4, libsolidcontrol4-api
Conflicts: kdebase-workspace-libs4+5, libsolidcontrol4, libsolidcontrol4-api
Description: library for Solid based network management
 This package contains libraries needed for Solid based network management.
 .
 This package is part of the KDE base workspace module.

Package: libsolidcontrolifaces4a
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libsolidcontrolifaces4-api
Replaces: kdebase-workspace-libs4+5, libsolidcontrolifaces4, libsolidcontrolifaces4-api
Conflicts: kdebase-workspace-libs4+5, libsolidcontrolifaces4, libsolidcontrolifaces4-api
Description: library for Solid based network interface management
 This package contains libraries needed for Solid based network interface
 management.
 .
 This package is part of the KDE base workspace module.

Package: libtaskmanager4b
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libtaskmanager4-api
Replaces: kdebase-workspace-libs4+5, libtaskmanager4, libtaskmanager4-api
Conflicts: kdebase-workspace-libs4+5, libtaskmanager4, libtaskmanager4-api
Description: library which provides task management facilities
 This package contains libraries which provide task management facilities.
 .
 This package is part of the KDE base workspace module.

Package: libweather-ion6
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library which provides an interface for weather information services
 This package contains the library used to implement new ions (i.e. information
 fetching plugins) for the Plasma weather engine.
 .
 This package is part of the KDE base workspace module.

Package: kdebase-workspace-dbg
Section: debug
Architecture: any
Priority: extra
Depends: kdebase-runtime-dbg, ${misc:Depends}
Conflicts: kdebase-dbg (<< 4:4.0), kdebase-workspace-libs4+5
Replaces: kdebase-dbg (<< 4:4.5.0)
Suggests: kdebase-workspace (>= ${source:Version})
Description: debugging symbols for the KDE Plasma Workspaces
 This package contains debugging files used to investigate problems with
 binaries included in the KDE base workspace module.

