Source: kdebase-workspace
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>. Armin Berres <trigger+debian@space-based.de>, Modestas Vainius <modestas@vainius.eu>
Build-Depends: cdbs, debhelper (>= 5), quilt, cmake, kdepimlibs5-dev (>= 4:4.0.0-1),
 libbluetooth-dev, libcaptury-dev, libphonon-dev, libnm-util-dev, libqimageblitz-dev,
 libraw1394-dev, libsensors-dev, libstrigiqtdbusclient-dev (>= 0.5.7), libusb-dev,
 libxkbfile-dev, libxcomposite-dev, libxdamage-dev, libxfixes-dev,
 libxklavier11-dev, libxrandr-dev, libxrender-dev, libxxf86misc-dev,
 network-manager-dev, libpam0g-dev
Standards-Version: 3.7.3
Homepage: http://www.kde.org/

Package: kdebase-workspace
Section: kde
Architecture: all
Depends:  kdebase-workspace-bin (>= ${binary:Version}), 
 kdebase-workspace-data (>= ${binary:Version}),
 klipper (>= ${binary:Version}), ksysguard (>= ${binary:Version}), 
 kwin (>= ${binary:Version}), systemsettings (>= ${binary:Version})
Recommends: kdm (>= ${binary:Version})
Description: base components from the official KDE release
 KDE is produced by an international technology team that creates free and open
 source software for desktop and portable computing. Among KDE's products are a
 modern desktop system for Linux and UNIX platforms, comprehensive office
 productivity and groupware suites and hundreds of software titles in many
 categories including Internet and web applications, multimedia, entertainment,
 educational, graphics and software development.
 .
 This package provides a basic KDE 4 desktop installation.

Package: kdebase-workspace-bin
Section: kde
Architecture: any
Depends: ${shlibs:Depends}, kdebase-workspace-data (= ${source:Version}),
 dbus-x11, x11-utils, x11-xserver-utils
Suggests: x11-xkb-utils
Replaces: kdebase-bin (<< 4:3.93.0), kcontrol, kmenuedit
Conflicts: kcontrol, kmenuedit
Description: core binaries for the KDE base module
 This package contains miscellaneous programs needed for a basic KDE desktop
 installation.
 .
 This package is part of the KDE 4 base workspace module.

Package: kdebase-workspace-data
Section: kde
Architecture: all
Conflicts: ksmserver, kmenuedit, kdebase-data (<< 4:3.90.1)
Replaces: ksmserver, kdebase-bin (<< 4:3.93.0), kdebase-data (<< 4:3.93.0), kmenuedit
Description: shared data files for the KDE base module
 This package contains architecture-independent shared data files needed for a
 basic KDE desktop installation.
 .
 This package is part of the KDE 4 base workspace module.

Package: kdebase-workspace-dev
Section: kde
Architecture: any
Depends: ${shlibs:Depends}, kdebase-workspace (= ${source:Version}), kdepimlibs5-dev (>= 4:4.0.0-1),
 libplasma-dev, libbluetooth-dev, libcaptury-dev, libnm-util-dev, libqimageblitz-dev,
 libraw1394-dev, libsensors-dev, libstrigiqtdbusclient-dev (>= 0.5.7), libusb-dev,
 libxkbfile-dev, libxcomposite-dev, libxdamage-dev, libxfixes-dev,
 libxklavier11-dev, libxrandr-dev, libxrender-dev, libxxf86misc-dev,
 network-manager-dev
Description: development files for the KDE base module
 This package contains headers and other development files needed to build
 software that uses the KDE base workspace module.
 .
 This package is part of the KDE 4 base workspace module.

Package: kdm
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Suggests: kdepasswd
Conflicts: desktop-base (<< 4.0.4), kdebase-workspace-bin (<< 4:3.97.0-2)
Provides: x-display-manager
Description: KDE Display Manager for X11
 KDM manages a collection of X servers running on local or remote machines.
 It allows users to easily log into their preferred desktop environment, connect
 to a remote XDMCP server, or shut down the system.
 .
 KDM supports custom themes and can display a list of users with icons.
 Additional user icons can be found in the 'kdepasswd' package.
 .
 This package is part of the KDE 4 base workspace module.

Package: klipper
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: clipboard utility for KDE
 Klipper is the KDE clipboard utility. It stores a history of the clipboard
 contents and can automatically perform actions when certain items are
 selected, such as launch a web browser when a URL is selected.
 .
 This package is part of the KDE 4 base workspace module.

Package: ksysguardd
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: system guard daemon for KDE
 KDE System Guard Daemon can be installed on a remote system so that the KDE
 System Guard can connect to and monitor it.
 .
 This package is part of the KDE 4 base workspace module.

Package: ksysguard
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: system guard for KDE
 KDE System Guard allows you to monitor various statistics about your system.
 .
 In addition to monitoring the local system, it can connect to remote systems
 running the KDE System Guard Daemon, which is in the 'ksysguardd' package.
 .
 This package is part of the KDE 4 base workspace module.

Package: kwin
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Replaces: kdebase-workspace-bin (<< 3.95.0)
Provides: x-window-manager
Description: the KDE window manager
 This package contains the KDE window manager, featuring hardware-accelerated
 compositing effects.
 .
 This package is part of the KDE 4 base workspace module.

Package: systemsettings
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: KDE System Settings Center
 KDE System Settings is an improved user interface for configuring the desktop
 and other aspects of the system.
 .
 This package is part of the KDE 4 base workspace module.

Package: kdebase-workspace-dbg
Section: devel
Architecture: any
Priority: extra
Depends: kdebase-workspace (= ${source:Version}), kdepimlibs-dbg
Description: debugging symbols for kdebase-workspace
 This package contains the debugging symbols associated with kdebase-workspace.
 They will automatically be used by gdb for debugging kdebase-workspace-related
 issues.

Package: libplasma1
Section: libs
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}, kdebase-workspace-data (= ${source:Version})
Replaces: kdebase-workspace-bin (<< 4:3.96.0)
Description: library for the KDE 4 Plasma desktop
 This package contains the KDE 4 Plasma desktop library and plugins.

Package: libplasma-dev
Section: libdevel
Architecture: all
Priority: optional
Depends: libplasma1 (>= ${binary:Version}), kdelibs5-dev (>= 4:4.0.0-1)
Replaces: kdebase-workspace-dev (<< 4:3.96.0)
Description: development files for the KDE 4 Plasma desktop
 This package contains headers and other development files needed to build
 software that uses the KDE 4 Plasma desktop.
